*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 50px;
    max-height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
}

h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0 , 0, 0, 0.5);
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin: 0 auto;
    /* background: rgba(0 , 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0 , 0, 0, 0.5); */
}
.box{
    margin: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, #ec008c, #fc6767);
    box-shadow: 0 0 20px rgba(0 , 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
}
.box span{
    font-size: 20px;
    font-weight: 700;
}
.box text{
    display: inline-block;
    margin-top: 20px;
}